@tailwind base;
@tailwind components;
@tailwind utilities;

.content-wrapper {
    display: flex;
    flex-direction: column;
}

table.dark {
    background-color: rgb(255, 255, 255);
}

table.dark thead {
    background-color: rgba(31, 41, 55, 1);
}

table.dark tr,
table.dark td {
    border: 1px solid rgb(15, 23, 42) !important;
}

.th-dark {

    background-color: rgba(31, 41, 55, 1);

}

.text-logo {
    background-color: rgb(38, 128, 240);
}
